<div class="ui yellow inverted segment">
  This is a mockup of The Skill Bot (SKOT) and is not currently operational. All images/content are for display purposes only and will be licensed and fully compliant when the application is operational.
</div>
<%= image_tag 'bot.png' %>
<%= image_tag 'edx.png', style: 'position: absolute; top: 270px; left: 195px; width: 40px; opacity: 0.4;' %>
<%= image_tag 'udemy.jpg', style: 'position: absolute; top: 270px; left: 260px; width: 50px; opacity: 0.7;' %>
<%= image_tag 'pluralsight-shadow.png', style: 'position: absolute; top: 280px; left: 140px; width: 150px;' %>
<%= image_tag 'coursera.png', style: 'position: absolute; top: 270px; left:120px; width: 50px; opacity: 0.7;' %>

<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
<p style="font-family: 'Roboto Slab', serif; font-size: 30px; font-weight: bold; position: absolute; top: 380px; left: 405px;">
  SKOT
</p>
<p style="font-family: 'Roboto Slab', serif; font-size: 30px; font-weight: bold; position: absolute; top: 90px; left: 50px;">
  THE SKILL BOT
</p>
<p style="font-family: 'Roboto Slab', serif; font-size: 24px; position: absolute; top: 130px; left: 50px;">
  * 1,000+ Courses<br/>
  * 10 Platforms<br/>
  * Updated Daily<br/>
</p>

<div class="ui top attached segment">
  <div class="ui fluid search">
    <div class="ui icon input">
      <input id="search" class="prompt" type="text" placeholder="Search Pluralsight...">
      <i class="search icon"></i>
    </div>
  </div>
</div>
<div class="ui secondary attached segment">
  <div id="search_results" class="ui unstackable divided items">
    <%= render 'search_results' %>
  </div>
</div>
